src/main/resources/items.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gegesha.com/demo/soap-web-service"
           targetNamespace="http://gegesha.com/demo/soap-web-service" elementFormDefault="qualified">

    <xs:element name="GetPrice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Item" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetPriceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Price" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>